.App {
  text-align: center;
  flex-direction: column;
  position: relative;
  display: flex;
  max-width: 420px;
  width: 100%;
  height: 500px;
  background: rgba(82, 89, 150, 0.035);
  border-radius: 8px;
  box-shadow: #282c34 ;
  margin: 0 auto;
  margin-top: 50px;
  border: 3px solid  rgba(80, 48, 131, 0.9);
}
.facts-container {
  display: flex;
  padding: 16px;
}

@media (max-width: 1000px ) {
  .facts-container {
    flex-direction: column
  }
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.facts {
padding: 32px;
margin-top: 32px;
max-height: 315px;
}

#bigbutton {
  position: absolute;
  bottom: 0;
  width: 83%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 85px;
  height: 60px;
  border-radius: 8px;
  border-style: none;
  background: white;
  outline: none;
  color: rgba(80, 48, 131, 0.71);
}


#bigbutton:hover:enabled {
  background: rgba(250, 250, 255, 0.95)
}

#bigbutton:active:enabled {
background: rgba(80, 48, 131, 0.51);
color: white;
}
